<h1>Welcome World!</h1>
<p>This site will host things that I find interesting.</p>
<p>Things that I find interesting are good music, french, outer space, electronics, solar cars, and programming.</p>
<%= link_to "Posts", controller: "posts" %>
   
